# Data & Database Files
*.zip
*.tar.gz
*.db
*.sqlite3


# Security & Credentials
.env
secrets.json

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc
*.pyo

# OS & Editor Files
.DS_Store
.vscode/
.idea/
