# Data & Database Files
*.csv
*.zip
*.tar.gz
*.db
*.sqlite3
fordgobike-tripdata*.csv

# Security & Credentials
.env
secrets.json

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc
*.pyo

# OS & Editor Files
.DS_Store
.vscode/
.idea/
